<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.mapper.ExcessGasMapper">
    <resultMap id="excessGasMap" type="com.gas.entity.ExcessGas">
        <id column="e_id" property="id"></id>
        <result column="gas_name" property="gasName"></result>
        <result column="gas_type" property="gasType"></result>
        <result column="indatetime" property="indatetime"></result>
        <result column="gas_value" property="value"></result>
        <result column="device_id" property="deviceId"></result>
    </resultMap>
    <insert id="insertAlarmGasInfo">
        insert into excess_gas(gas_name,gas_type,indatetime,gas_value,device_id)
        values (#{gas.gasName},#{gas.gasType},#{gas.indatetime},#{gas.value},#{gas.deviceId})
    </insert>
    <select id="queryRealTimeNumber" resultType="integer">
        select count(e_id)
        from excess_gas where indatetime &gt; #{beforeDateTime} and indatetime &lt;= #{nowDateTime}
    </select>

    <select id="queryConditionData" resultMap="excessGasMap">
        select *
        from excess_gas
        <where>
            <if test="''!=startDateTime and endDateTime != ''">
                indatetime BETWEEN #{startDateTime} and #{endDateTime}
            </if>
            <if test="deviceId !=''">
                and device_id = #{deviceId}
            </if>
            <if test="''!=startDateTime and endDateTime != ''">
                ORDER BY indatetime DESC
            </if>
        </where>;
    </select>
    <select id="queryRealTimeAlarmDataList" resultType="java.util.Map">
        SELECT indatetime,count(e_id) number
        FROM excess_gas GROUP BY indatetime ORDER BY indatetime desc LIMIT 0,7
    </select>
    <select id="queryDayAllAlarmNumber" resultType="java.lang.Integer">
        SELECT count(e_id) FROM `excess_gas` WHERE indatetime>=#{datetime}
    </select>
    <select id="queryDayAllAlarmData" resultMap="excessGasMap">
        select *
        from excess_gas  WHERE indatetime>=#{datetime} ORDER BY indatetime desc;
    </select>
</mapper>