<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.mapper.HarmfulGasMapper">
    <resultMap id="harmfulGasMap" type="com.gas.entity.HarmfulGas">
        <id column="g_id" property="id"></id>
        <result column="g_data" property="gasData"></result>
        <result column="g_name" property="gasName"></result>
        <result column="g_indate" property="indate"></result>
        <result column="g_device_id" property="deviceId"></result>
    </resultMap>

    <insert id="addHarmfulGasDateTest">
        insert into harmful_gas(g_name,g_data,g_indate,g_device_id) values (#{gas.gasName},#{gas.gasData},#{gas.indate},#{gas.deviceId})
    </insert>
    <insert id="addHarmfulGasData">
        insert into harmful_gas(g_name,g_data,g_indate,g_device_id) values (#{gas.gasName},#{gas.gasData},#{gas.indate},#{gas.deviceId})
    </insert>
    <select id="queryConditionData" resultMap="harmfulGasMap">
        select *
        from harmful_gas
        <where>
            <if test="''!=sdateTime and edateTime != ''">
                g_indate BETWEEN #{sdateTime} and #{edateTime}
            </if>
            <if test="deviceId !=''">
                and g_device_id = #{deviceId}
            </if>
            <if test="gas !=''">
                and g_name=#{gas}
            </if>
            <if test="''!=sdateTime and edateTime != ''">
                ORDER BY g_indate DESC
            </if>
        </where>;
    </select>
    <select id="queryRealTimeHarmfulGas" resultType="java.util.Map">
        SELECT round(avg(g_data),2) as data,g_name as gasName FROM harmful_gas
        where g_indate&gt;#{start} and g_indate &lt;= #{end} and g_device_id=#{deviceId}
        GROUP BY g_name
    </select>
    <select id="queryHarmfulGasAvgData" resultType="java.util.Map">
        SELECT round(avg(g_data),2) as avg,g_name as gasName from harmful_gas WHERE
        g_indate &gt;#{start} and g_indate &lt;=#{end} GROUP BY g_name
    </select>
</mapper>