<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.mapper.ManagerReviewMapper">
    <resultMap id="reviewMap" type="com.gas.entity.ManagerReview">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="r_indate" property="indate"></result>
        <result column="r_status" property="status"></result>
        <result column="r_outdate" property="outdate"></result>
    </resultMap>
    <insert id="addReviewInfo">
        insert into manager_review(username,password,r_indate,r_outdate)
        values (#{review.username},#{review.password},#{review.indate},"");
    </insert>
</mapper>